<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.iving.demo.viewsdemo" >

    <application>
        <activity
            android:name=".RecyclerViewDemoActivity">
           </activity>

        <activity android:name=".CoordinaterLayoutActivity">

        </activity>
    </application>


</manifest>
